<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitializeServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.InitializeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterMeetingServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.RegisterRemarkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitializeServlet</servlet-name>
        <url-pattern>/api/initialize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterMeetingServlet</servlet-name>
        <url-pattern>/api/secure/register-meeting</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.iped_system.iped.server.api.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/api/secure/*</url-pattern>
    </filter-mapping>
</web-app>