<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <!-- define servlets -->
    <!-- api -->
    <servlet>
        <servlet-name>VersionServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.VersionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemarksServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.RemarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaceServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.common.servlet.FaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemarksNewServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.RemarksNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostUrlServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.GetPostUrlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.ServeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TalksServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.TalksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TalksNewServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.api.servlet.TalksNewServlet</servlet-class>
    </servlet>

    <!-- web -->
    <servlet>
        <servlet-name>web/LoginServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>web/MainServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.web.servlet.MainServlet</servlet-class>
    </servlet>

    <!-- backend -->
    <servlet>
        <servlet-name>Backend/IndexServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.backend.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backend/UsersServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.backend.servlet.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backend/UsersNewServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.backend.servlet.UsersNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backend/UserEditServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.backend.servlet.UserEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backend/FaceUploadServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.backend.servlet.FaceUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backend/RemarksServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.backend.servlet.RemarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backend/TalksServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.backend.servlet.TalksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backend/FaceServlet</servlet-name>
        <servlet-class>com.iped_system.iped.server.common.servlet.FaceServlet</servlet-class>
    </servlet>

    <!-- define servlet mappings -->
    <!-- api -->
    <servlet-mapping>
        <servlet-name>VersionServlet</servlet-name>
        <url-pattern>/api/version</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemarksServlet</servlet-name>
        <url-pattern>/api/secure/remarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaceServlet</servlet-name>
        <url-pattern>/api/face/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemarksNewServlet</servlet-name>
        <url-pattern>/api/secure/remarks/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostUrlServlet</servlet-name>
        <url-pattern>/api/secure/getPostUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/api/secure/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeServlet</servlet-name>
        <url-pattern>/api/serve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TalksServlet</servlet-name>
        <url-pattern>/api/secure/talks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TalksNewServlet</servlet-name>
        <url-pattern>/api/secure/talks/new</url-pattern>
    </servlet-mapping>

    <!-- web -->
    <servlet-mapping>
        <servlet-name>web/LoginServlet</servlet-name>
        <url-pattern>/web/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>web/MainServlet</servlet-name>
        <url-pattern>/web/secure/main</url-pattern>
    </servlet-mapping>

    <!-- backend -->
    <servlet-mapping>
        <servlet-name>Backend/IndexServlet</servlet-name>
        <url-pattern>/backend/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backend/UsersServlet</servlet-name>
        <url-pattern>/backend/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backend/UsersNewServlet</servlet-name>
        <url-pattern>/backend/users/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backend/UserEditServlet</servlet-name>
        <url-pattern>/backend/user/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backend/FaceUploadServlet</servlet-name>
        <url-pattern>/backend/user/faceupload/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backend/RemarksServlet</servlet-name>
        <url-pattern>/backend/remarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backend/TalksServlet</servlet-name>
        <url-pattern>/backend/talks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backend/FaceServlet</servlet-name>
        <url-pattern>/backend/face/*</url-pattern>
    </servlet-mapping>

    <!-- define filters -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.iped_system.iped.server.api.filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>web/AuthenticationFilter</filter-name>
        <filter-class>com.iped_system.iped.server.web.filter.AuthFilter</filter-class>
    </filter>

    <!-- define filter mappings -->
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/api/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>web/AuthenticationFilter</filter-name>
        <url-pattern>/web/secure/*</url-pattern>
    </filter-mapping>
</web-app>